/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/autom4te.cache
/config.cache
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/fontforge-config.h
/fontforge.pc
/libfontforge.pc
/libfontforgeexe.pc
/libtool
/so_locations
/stamp-h1
/tags
