config.log
config.status
fontforge/exelibstamp.c
fontforge/fontforge
fontforge/fontimage
fontforge/fontlint
fontforge/libstamp.c
fontforge.pc
fontforge/sfddiff
inc/config.h
libtool
Makefile
Makefile.in
pyhook/setup.py
systemspecific
.libs
*.la
*.lo
*.mo
*.o
