{{ app.url.homepage }}

{{ app.title }} cannot be used by launching the main application. Please read the [documentation]({{ app.url.documentation }}) on how to use {{ app.title }}.

{{ app.title }} is a tool for the [command line interface]({{ app.url.cli }}) that allows the use of common GUI dialogs such as file selectors, text input, progress bars, confirmations and more.

Copyright © 2004-{{ currentYear }} Mark A. Stratman and Mark Carver

_Version: {{ app.version }}_
