 BODY { margin: 1em 1.5em 20em 1.5em; background: #ccc; color: #000; font: 100%/150% serif; }
 BODY#sidebar { margin: 3pt 3pt 3pt 3pt; background: #eee; color: #000}
 BODY#framed { margin: .5em 1em 4em 1em; background: #eee; color: #000}
 A:link { color: #333; text-decoration: underline }
 A:visited { color: #333; text-decoration: underline }
 A:hover { text-decoration: none; color: #000; background-color: #eee }
 A:active { color: #5e0000 }
 A { text-decoration: none }
 #in { background: #fff; border: 1px solid #f00; padding: 1em }
 #framed-in { background: #fff; border: 1px solid #f00; padding: 10px }
 BLOCKQUOTE { line-height:110% }
 BLOCKQUOTE#lit { background: #ffd; color: #000; margin: 0em 40% 0em 5em; font: 80% serif; }
 BLOCKQUOTE#lit P { margin: .3em 0em .3em 0em; }
 BLOCKQUOTE PRE { background: #ffd; color: #000; }
 BLOCKQUOTE#shell PRE { background: #ccf; color: #000; }
 H1 { display: inline; line-height:110% }
