.ff_main_open {
  stroke-width: 2;
  stroke: rgb(102,0,0);
  fill: none;
}

.ff_main_closed {
  stroke-width: 2;
  stroke: black;
  fill: limegreen;
  fill-opacity: .07;
}

.ff_main_background {
  stroke-width: 2;
  stroke: rgb(0,128,0);
  fill: none;
}

.ff_main_deleted {
  stroke-width: 2;
  stroke: rgb(128,128,128);
  stroke-dasharray: 4;
  fill: none;
}

.ff_offp .ff_offp_pre {
  stroke-width: 1;
  stroke: rgb(204,0,204);
}

.ff_offp .ff_offp_post {
  stroke-width: 1;
  stroke: rgb(0,112,143);
}

.ff_offp.ff_selected .ff_offp_pre line {
  stroke-width: 1;
  stroke: white;
}

.ff_offp.ff_selected .ff_offp_pre rect {
  stroke-width: 0;
  fill: rgb(204,0,204);
}

.ff_offp.ff_selected .ff_offp_post rect {
  stroke-width: 0;
  fill: rgb(0,112,143);
}

.ff_offp.ff_selected .ff_offp_post line {
  stroke-width: 1;
  stroke: white;
}

/* Ordering is important for the point rules */
.ff_onp {
  stroke-width: 0;
  fill: rgb(255,0,0);
}

.ff_onp.ff_extremum {
  fill: rgb(191,0,128);
}

.ff_onp.ff_first {
  fill: rgb(112,112,112);
}

.ff_onp.ff_selected {
  stroke-width: 2;
  stroke: rgb(199,199,0);
  fill: none;
}

.ff_arrow {
  stroke-width: 1;
  fill: none;
  stroke: rgb(112,112,112);
}

.ff_label {
  font-size: 20px;
  font-family: 'DejaVu Sans';
  text-align: center;
  text-anchor: middle;
}

.ff_label.ff_err {
  fill: firebrick;
}
