#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

export CONFIG_SHELL=/bin/bash
export DEB_BUILD_MAINT_OPTIONS := hardening=+all

DH_OPTS := --parallel --with python3 --builddirectory build

%:
	dh $@ $(DH_OPTS)

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo

nox:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo -DENABLE_GUI=no
	dh_auto_build
	dh_auto_install --destdir debian/nox
	mv debian/nox/usr/bin/* debian/fontforge-nox/usr/bin/

override_dh_strip: nox 
	dh_strip --dbg-package=fontforge-dbg

override_dh_clean:
	dh_clean
	rm -rf debian/nox
