[Desktop Entry]
Name=FontForge
Name[ru]=FontForge
Name[fr]=FontForge
Name[zh_TW]=字型鍛造廠
Comment=An outline font editor
Comment[ru]=Редактор шрифтов
Comment[fr]=Un constructeur des polices
Comment[zh_TW]=FontForge 描邊字型編輯器
Exec=fontforge
Icon=fontforge.png
Terminal=false
Type=Application
Categories=Application;Graphics;
Encoding=UTF-8
MimeType=application/vnd.font-fontforge-sfd;application/x-font-ttf;application/x-font-otf;application/x-font-type1;application/x-font-bdf;application/x-font-pcf;application/x-font-tex;
