[Desktop Entry]
Name=FontForge
Name[zh_TW]=FontForge 字型鍛造廠
Comment=An outline font editor
Comment[zh_TW]=描邊字型編輯器
Exec=fontforge
Icon=fontforge.gif
Terminal=false
Type=Application
Categories=Application;Graphics;
Encoding=UTF-8
