[Desktop Entry]
Name=FontForge
Name[zh_TW]=FontForge 字型鍛造廠
Comment=An outline font editor
Comment[zh_TW]=描邊字型編輯器
Exec=fontforge
Icon=fontforge.png
Terminal=false
Type=Application
Categories=Application;Graphics;
Encoding=UTF-8
MimeType=application/x-font-ttf
MimeType=application/x-font-type1
MimeType=application/x-font-bdf
MimeType=application/x-font-pcf
MimeType=application/x-font-tex
MimeType=application/pdf
