[Desktop Entry]
Name=FontForge
Name[zh_TW]=字型鍛造廠
GenericName=Font Editor
Comment=An outline font editor
Comment[ru]=Редактор шрифтов
Comment[fr]=Un constructeur des polices
Comment[zh_TW]=FontForge 描邊字型編輯器
Comment[pl_PL]=Edytor fontów
Comment[uk]=Редактор шрифтів
Comment[de]=Ein Font-Editor
Comment[eo]=Tipar dosiero-redaktilo
Comment[es]=Un editor de fuentes
Comment[it]=Un profilo editor di font
Comment[pt]=Um editor de fontes
Exec=fontforge %U
TryExec=fontforge
Icon=org.fontforge.FontForge
StartupWMClass=fontforge
Terminal=false
Type=Application
Categories=Graphics;
MimeType=application/vnd.font-fontforge-sfd;application/x-font-ttf;application/x-font-otf;application/x-font-type1;application/x-font-bdf;application/x-font-pcf;application/x-font-tex;application/font-woff;font/otf;font/ttf;font/woff;font/woff2;
Keywords=font;fonts;editor;TTF;OTF;typeface;
